/*http://tool.lu/css/*/

/*顶部容器*/
.top-container {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

/*顶部容器 上部*/
.top-container .top {
    margin: 0 auto;
    width: 1210px;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

/*顶部容器 顶部 ul li*/
.top-container .top ul li {
    cursor: default;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
}

.top-container .top ul li.area {
    width: 95px;
    float: left;
    height: 30px;
    padding-left:15px;
    position: relative;
}

.top-container .top .icon {
    position: relative;
    cursor: default;
    float: left;
    width: 49px;
    padding-left: 8px;
    padding-right: 25px;
}

.top-container .top ul li.login {
    margin-right: 10px;
}

.top-container .top i {
    display: block;
    position: absolute;
    overflow: hidden;
}

.top-container .top i.right {
    top: 12px;
    right: 8px;
    height: 7px;
    overflow: hidden;
    font: 400 15px/15px consolas;
    color: #6A6A6A;
}

.top-container .top .area i.right {
    right: -2px;
}

.top-container .top .right s {
    position: relative;
    top: -7px;
    text-decoration: none;
}

.top-container .top ul li.app {
    padding-left: 18px;
}

.top-container .top ul li div i.mobile{
    top: 5px;
    left: -10px;
    width: 15px;
    height: 20px;
    background: url(../images/icon1.png) 0 0 no-repeat;
}

.dorpdown-layer {
    width: 280px;
    min-height: 105px;
    top: 30px;
    margin-left: -1px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 10;
    display: none;
}
.dd {
    line-height: 24px;
}

.gz {
    width: 82px;
}

.sj {
    margin-left: -19px;
}

.fw {
    width: 173px;
}

.sz {
    width: 313px;
    margin-left: -16px;
}

.cartdl {
    width: 305px;
    min-height: 70px;
    top: 34px;
    right: 0;
    -webkit-box-shadow: 2px 2px 2px #bababa;
    -moz-box-shadow: 2px 2px 2px #bababa;
    box-shadow: 2px 2px 2px #bababa;
}

/*.dh {*/
    /*position: absolute;*/
    /*width: 1010px;*/
    /*right: 78px;*/
/*}*/

.dd-spacer {
    left: 0;
    width: 82px;
    position: absolute;
    top: -7px;
    height: 10px;
    background: #fff;
    overflow: hidden;
}

.carts {
    width: 140px;
    top: -1px;
    left: 165px;
    position: absolute;
    overflow: hidden;
}

.sjs {
    width: 100px;
}

.szs {
    width: 110px;
}

/*.dhs {*/
    /*left: 1128px;*/
    /*width: 82px;*/
/*}*/

.items-layer {
    display: none;
    width: 1000px;
    height: 465px;
    position: absolute;
    left: 210px;
    top: -1px;
    background: #f7f7f7;
    border: 1px solid #b61d1d;
    border-left: none;
    overflow: hidden;
    z-index: 999;
}

/*分割线*/
.top-container .top ul li.spacer {
    width: 0.0001em;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ddd;
    overflow: hidden;
    margin-left: 1px;
    margin-right: 1px;
}

/*顶部容器 顶部 ul li*/
.top-container .top ul li {
    float: left;
}

/*顶部容器 下部*/
.bottom {
    margin: 0 auto;
    width: 1210px;
}

/*logo容器*/
.bottom div.logo {
    float: left;
    position: relative;
    padding: 20px 0;
    width: 362px;
    height: 60px;
}

/*logo*/
.bottom a.logo {
    float: left;
    display: block;
    width: 270px;
    height: 60px;
    background: url("../images/logo.png");
}

/*搜索框容器*/
.bottom div.search {
    position: relative;
    float: left;
    margin-top: 25px;
}

/*搜索框*/
.bottom div input[type=text] {
    float: left;
    width: 446px;
    height: 24px;
    line-height: 24px;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

/*搜索按钮*/
.bottom div input[type=button] {
    float: left;
    width: 82px;
    height: 36px;
    line-height: 36px;
    border: none;
    background-color: #B61D1D;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

/*购物车容器*/
.bottom .cart {
    position: relative;
    float: left;
    height: 36px;
    margin-top: 25px;
    margin-left: 105px;
}

/*购物车*/
.bottom .cart div.cart-icon {
    position: relative;
    width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    cursor: default;
    zoom: 1;
}

/*购物车*/
.bottom .cart div.cart-icon i {
    display: block;
    position: absolute;
    overflow: hidden;
}

/*购物车 左*/
.bottom .cart div.cart-icon i.ci-l {
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../images/icon1.png) 0 -58px no-repeat;
}

/*购物车 右*/
.bottom .cart div.cart-icon i.ci-r {
    top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}

/*购物车 计数器*/
.bottom .cart div.cart-icon i.ci-count {
    position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}

/*热门关键字*/
.bottom .hot-words {
    float: left;
    width: 518px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.bottom .hot-words a {
    float: left;
    white-space: nowrap;
    margin-right: 10px;
}

/*商品分类*/
.nav-container {
    height: 44px;
    border-bottom: 2px solid #B1191A;
}

/*商品分类 导航*/
.nav-container .nav {
    position: relative;
    margin: 0 auto;
    z-index: 9;
    width: 1210px;
    height: 44px;
}

.nav-container .nav .classify {
    float: left;
    position: relative;
    z-index: 10;
    width: 210px;
    height: 44px;
    overflow: visible;
    background: #B1191A;
}

.nav-container .nav .classify .dt a {
    display: block;
    width: 190px;
    height: 44px;
    padding: 0 2px;
    background: #B1191A;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    text-decoration: none;
}
/*导航细分*/
.nav-container .nav .sub{
    position: relative;
    top :44px;
    width: 210px ;
    height: 466px;
    background: #c81623;
    margin-top: 2px;
}
.nav-container .nav .sub .inner .item{
    border-left: 1px solid #b61d1d;
    position: relative;
    z-index: 1;
    height: 31px;
    color: #fff;
}

.nav-container .nav .sub .inner .item h3 {
    position: absolute;
    height: 31px;
    padding: 0 10px;
    line-height: 31px;
    font-family: "microsoft yahei";
    font-size: 14px;
    font-weight: 400;
    cursor: default;
    color: #fff;
}

.nav-container .nav .sub .inner .item h3 a{
    color: #fff;
}

.nav-container .nav .sub .inner .item i{
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 14px;
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;
}

/*商品分类 项目列表*/
.nav-container .items {
    float: left;
    position: relative;
}

.nav-container .items ul {
    float: left;
}

.nav-container .items li {
    float: left;
    display: list-item;
}

.nav-container .items ul li a {
    height: 44px;
    padding: 0 20px;
    text-align: center;
    font: 400 16px/44px "microsoft yahei";
}

.focus {
    position: relative;
    margin: 0 auto;
    width: 1210px;
}

.focus .slider {
    height: 466px;
}

.focus .slider .inner {
    margin: 0 -10px;
    width: 1210px;
    height: 466px;
    overflow: hidden;
}

.focus .slider ul li {
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 466px;
}

.focus .slider ul li a{
    display: block;
    overflow: hidden;
    zoom: 1;
    width: 730px;
    margin: 12px 0px 0 230px;
    height: 454px;
}

.focus .slider ul li a img {
    border: 0;
    vertical-align: middle;
}

.r-container {
    position: relative;
    z-index: 8;
    top: -466px;
    margin: 0 auto;
    width: 1210px;
}

.r-container .news {
    width: 248px;
    overflow: hidden;
    top: 12px;
    border: solid 1px #e4e4e4;
    border-bottom: 0;
    position: absolute;
    right: 0;
    padding: 0;
    background: rgba(255,255,255,.85);
}

.r-container .news .mt{
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #E8E8E7;
    overflow: hidden;
    font-family: consolas;
}

.r-container .news .mt h2 {
    float: left;
    font-size: 16px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.r-container .news .mt a {
    float: right;
}

.r-container .news .mc {
    height: 120px;
    padding-top: 5px;
    padding: 8px 0 0 15px;
}

.r-container .news .mc span {
    font-weight: 700;
    margin-right: 5px;
}

.r-container .news .mc li {
    line-height: 24px;
}

.r-container .service {
    top: 176px;
    border-top: solid 1px #e4e4e4;
    border: solid 1px #e4e4e4;
    overflow: hidden;
    width: 248px;
    position: absolute;
    right: 0;
    padding: 0;
    background: rgba(255,255,255,.85);
}
.r-container .service ul {
    position: relative;
    width: 260px;
    height: 209px;
    overflow: hidden;
}

.r-container .service li {
    float: left;
    display: inline;
    width: 62px;
    height: 70px;
    border-right: 1px solid #E8E8E7;
    border-bottom: 1px solid #E8E8E7;
    overflow: hidden;
    cursor: pointer;
}

.r-container .service li a{
    display: block;
    width: 62px;
    height: 28px;
    padding-top: 41px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #666;
}

.r-ad {
    position: absolute;
    right: 0;
    padding: 0;
    background: rgba(255,255,255,.85);
    overflow: hidden;
    width: 250px;
    height: 75px;
    top: 391px;
}

#area li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 40px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

#area li:last-child {
    margin-bottom: 10px;
}



#area li.area-sel{
    background-color: #c81623;
    color: #ffffff;
}

.toolbar-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9990;
    width: 0;
    height: 100%;
}

.toolbar {
    position: fixed;
    z-index: 9990;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
}

.toolbar-tabs {
    position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px;
}

.toolbar-tab {
    position: relative;
    width: 135px;
    right: 0px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.toolbar-tabs-footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: -29px;
}

.tab-text {
    padding-left: 40px;
}

.tab-ico {
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: fixed;
    z-index: 2;
    background-color: #7a6e6e;
    background-image: url(../images/icon2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.tb-cart {
    background-position: -50px 0;
}

.tb-follow {
    background-position: -50px -50px;
}

.tb-history {
    background-position: -50px -100px;
}

.tb-message {
    background-position: -190px -150px;
}

.tb-jimi {
    background-position: -50px -150px;
}

.tb-top {
    background-position: -50px -250px;
}

.tb-feedback {
    background-position: -50px -300px;
}

.ci-left {
    top: 13px;
    background: url(../images/service1.png) no-repeat;
    left: 18px;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    overflow: hidden;
}

.mc-inner {
    position: absolute;
    top: 208px;
    left: 0;
    width: 250px;
    height: 180px;
    background: #fff;
}

.service .service-current li.current a{
    border-top: 2px solid #c81623;
    border-bottom: none;
    background: #fff;
    height: 27px;
}

.service .service-current li a{
    border-top: 2px solid transparent;
    padding-top: 0;
    height:25px;
    border-bottom:1px solid #E8E8E7;
    display: inline-block;
}

.today {
    height: 164px;
    width: 1210px;
    background: 0 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.today:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.today .mt {
    cursor: pointer;
    display: block;
    float: left;
    width: 210px;
    height: 151px;
    background: url(../images/homebg.png) no-repeat -213px -136px;
    text-indent: -10000px;
    overflow: hidden;
}

.jd-clock-wrap {
    position: relative;
    margin: 0 auto;
    width: 210px;
    height: 151px;
    background: url(../images/homebg.png) 0 -136px no-repeat;
}

.jd-clock {
    position: absolute;
    left: 72px;
    top: 31px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 7px solid #fff;
}

.jd-clock::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}

.jd-clock .jd-clock-h {
    position: absolute;
    top: 5px;
    left: 19px;
    height: 19px;
    width: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(10deg);
    -webkit-transform-origin: 2.5px 16.5px;
    -moz-transform-origin: 2.5px 16.5px;
    transform-origin: 2.5px 16.5px;
    animation: tick-tock 230s linear infinite;
}

.jd-clock .jd-clock-m {
    position: absolute;
    left: 5px;
    top: 19px;
    width: 19px;
    height: 5px;
    background: 0 0;
    border-radius: 2px;
}

.jd-clock .jd-clock-m::after {
    content: "";
    position: absolute;
    left: 14px;
    top: -17px;
    width: 5px;
    height: 21px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transform-origin: 2.5px 19.5px;
    -webkit-animation: tick-tock 20s steps(60,end) infinite;
    -moz-transform-origin: 2.5px 19.5px;
    -moz-animation: tick-tock 20s steps(60,end) infinite;
    transform-origin: 2.5px 19.5px;
    animation: tick-tock 20s steps(60,end) infinite;
}

.jd-clock .jd-clock-s {
    position: absolute;
    left: 19px;
    top: -6px;
    width: 5px;
    height: 28px;
    -webkit-transform-origin: bottom;
    -webkit-animation: tick-tock 10s linear infinite;
    -moz-transform-origin: bottom;
    -moz-animation: tick-tock 10s linear infinite;
    transform-origin: bottom;
    animation: tick-tock 10s linear infinite;
}

.jd-clock .jd-clock-s::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    background-color: #5e5252;
    border-radius: 50%;
}

@keyframes tick-tock {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.slider2:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.slider2{
    float: left;
    width: 1000px;
    height: 151px;
    overflow: hidden;
    position: relative;
}

.slider2 ul.inner {
    position: absolute;
    width: 4000px;
    height: 151px;
    left: 0;
}

.slider2 ul.inner li {
    float: left;
    width: 1000px;
    height: 151px;
    z-index: 999;
    cursor: pointer;
}

.slider2 ul.inner li img{
    margin-left: 2px;
    float: left;
    overflow: hidden;
    vertical-align: bottom;
}

.guess-like {
    background: 0 0;
    width: 1210px;
    height: 289px;
    margin: 0 auto;
}

.guessyou {
    height: 269px;
    margin-bottom: 20px;
    overflow: hidden;
}

.guessyou .mt {
    overflow: hidden;
    height: 36px;
}

.guessyou .mt h2 {
    padding-right: 228px;
    background: url(../images/homebg.png) 85px -91px;
    color: #333;
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.guessyou .mt .extra {
    height: 18px;
    padding-right: 25px;
    margin-top: 8px;
    background: url(../images/homebg.png) -310px -5px no-repeat;
    float: right;
    display: inline;
}

.guessyou .mc {
    height: 232px;
    border: 1px solid #ededed;
    border-top: 0;
    overflow: visible;
}

.guessyou .spacer {
    position: relative;
    height: 1px;
    line-height: 0;
    font-size: 0;
    background-color: #d1d1d1;
}

.guessyou .spacer i {
    width: 365px;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -2px;
    line-height: 0;
    font-size: 0;
    background: #b72323 url(../images/homebg.png) no-repeat 0 -124px;
}

.guessyou ul {
    height: 210px;
    padding-top: 20px;
    overflow: hidden;
}

.guessyou li {
    width: 201px;
    float: left;
    overflow: hidden;
    padding-bottom: 15px;
}

.guessyou .p-img {
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.guessyou .p-info {
    padding: 0 36px;
    border-left: none;
}

.guessyou .p-name {
    height: 36px;
    margin-bottom: 6px;
    overflow: hidden;
}

.guessyou .p-price {
    color: #b51d1a;
    font-size: 18px;
}

.guessyou .p-price i {
    font-size: 14px;
}

.special-buy {
    width: 1210px;
    background: 0 0;
    margin: 0 auto;
}

.home-special-buy {
    width: 1210px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.home-special-buy h2 {
    color: #333;
    font-size: 20px;
    line-height: 36px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.hs-content {
    height: 405px;
    border: 1px solid #ededed;
    overflow: hidden;
}

.hs-content div {
    background-color: #f7f7f7;
    float: left;
    height: 100%;
}

.has-item {
    width: 228px;
    position: relative;
    display: block;
    height: 246px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}

.area-tit {
    font: 700 15px/40px 'Microsoft Yahei';
    color: #333;
    text-align: center;
    z-index: 1;
    border-bottom: 1px dashed #e0e0e0;
    margin: 0 20px;
}

.sub-tit {
    left: 45px;
    position: absolute;
    top: 109px;
    color: #333;
    font-family: 'Microsoft Yahei';
    line-height: 1.2;
    z-index: 2;
}

.sub-tit .tit {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}

.sub-tit .desc {
    margin-bottom: 4px;
    color: #333;
    font-family: 'Microsoft Yahei';
    line-height: 1.2;
}

.sub-tit .promotion {
    color: #c81623;
}

.has-item img {
    margin-left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.has-col1 .has-item {
    width: 403px;
}

.has-col2 .has-item {
    background-color: #fff;
}

.has-col2 div.sub-tit {
    left: 10px;
    background-color: #fff;
}

.has-col3 .has-item {
    width: 403px;
}

.has-item-small {
    width: 201px;
    float: left;
    height: 158px;
    border-bottom: none;
    position: relative;
    display: block;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}

.has-item-small .sub-tit {
    top: 48px;
    left: 10px;
}

.has-col2 .has-item-small{
    width: 228px;
    background-color: #ffffff;
}

.has-col2 .has-item-small img {
    margin-left: 27px;
}

.brands-left {
    border-right: 1px dashed #e0e0e0;
    width: 85px;
    position: relative;
    float: left;
    height: 381px;
    /*margin-top: 8px;*/
}

.brands-left ul {
    /*margin-top: -8px;*/
    overflow: hidden;
    background-color: #ffffff;
}

.brands-left ul li{
    width: 74px;
    margin: 0;
    position: relative;
    float: right;
    height: 57px;
    border-bottom: 1px dashed #e0e0e0;
    background-color: #ffffff;
}

.brands-left ul li a.item{
    width: 85px;
    right: 0;
    position: absolute;
    top: 0;
    display: block;
    height: 57px;
    line-height: 57px;
    overflow: hidden;
    text-align: center;
}

.brands-right {
    width: 85px;
    position: relative;
    float: left;
    height: 381px;
}

.brands-right ul {
    /*margin-top: -8px;*/
    overflow: hidden;
    background-color: #ffffff;
}

.brands-right ul li{
    width: 74px;
    margin: 0;
    float: left;
    position: relative;
    height: 57px;
    border-bottom: 1px dashed #e0e0e0;
    background-color: #ffffff;
}

.brands-right ul li a.item{
    width: 85px;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    height: 57px;
    line-height: 57px;
    overflow: hidden;
    text-align: center;
}

.floor-banner {
    height: 110px;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: visible;
}

.floor-banner .floor-banner-main {
    overflow: hidden;
    margin: 0 auto;
    width: 1208px;
}

.floor-current {
    height: 737px;
    width: 1210px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.floor .mt {
    border-bottom: 1px solid #c81623;
    overflow: visible;
    position: relative;
    height: 36px;
}

.floor h2 {
    position: relative;
    padding-left: 40px;
    color: #333;
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.floor-current h2:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 31px;
    height: 25px;
    background: url(../images/product_home_1.0.0.png) no-repeat 0 -35px;
}

.floor-current h2 i {
    -webkit-animation-name: scaleDisc;
    -moz-animation-name: scaleDisc;
    animation-name: scaleDisc;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.floor-current h2 i {
    background: url(../images/product_home_1.0.0.png) no-repeat 0 0;
}

.floor h2 i {
    position: absolute;
    top: 2px;
    left: 0;
    width: 21px;
    height: 25px;
    padding-right: 10px;
    background: url(../images/floor1new.png) no-repeat 0 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.floor .mt .tab {
    margin-top: 1px;
    float: right;
    display: inline;
    border: solid 1px #ededed;
    border-bottom: 0 none;
    height: 34px;
    line-height: 34px;
    z-index: 1;
}

.floor .tab-item {
    float: left;
    display: inline;
    height: 34px;
    position: relative;
    line-height: 34px;
}


.floor .tab-item a {
    float: left;
    height: 34px;
    padding: 0 16px;
    text-decoration: none;
    line-height: 34px;
    overflow: hidden;
    background: #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    white-space: nowrap;
}

.floor .tab-selected a {
    position: absolute;
    white-space: nowrap;
    border-left: solid 1px #c81623;
    border-right: solid 1px #c81623;
    border-top: solid 3px #c81623;
    top: -1px;
    left: -1px;
    height: 33px;
    line-height: 30px;
    color: #c81623;
    text-indent: 1px;
}

.floor .tab-item span {
    display: none;
    position: absolute;
    width: 1px;
    background: #ccc;
    overflow: hidden;
    height: 14px;
    top: 10px;
    right: 0;
}

.floor .side {
    float: left;
    width: 330px;
    overflow: hidden;
    font-family: "microsoft yahei";
}

.floor .side-inner {
    position: relative;
    width: 330px;
    background: #e5ebeb;
    overflow: hidden;
    font-family: "microsoft yahei";
}

.floor .banner {
    position: relative;
    height: 474px;
}

.floor .banner a {
    display: block;
    height: 475px;
}

.floor .banner a:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 350px;
    top: 0;
    left: -150px;
    overflow: hidden;
    background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
}

.floor img {
    vertical-align: top;
}

#clothes .themes {
    padding-left: 25px;
    margin-top: -221px;
}

.floor .themes {
    position: relative;
    padding-left: 10px;
    height: 92px;
    margin-top: -237px;
    overflow: hidden;
    background: rgba(255,255,255,.5);
}

#clothes .themes li {
    width: 100px;
    float: left;
    height: 26px;
    padding: 10px 0;
}

.floor .themes a {
    float: left;
}

#clothes .themes .fore1 .icon {
    background: url(../images/clothesicon.png) 0 0 no-repeat;
}
.floor .themes .icon {
    width: 26px;
    margin-right: 5px;
}
.floor .themes i, .floor .themes span {
    float: left;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
}

#clothes .themes .fore2 .icon {
    background: url(../images/clothesicon.png) 0 -26px no-repeat;
}

#clothes .themes .fore3 .icon {
    background: url(../images/clothesicon.png) 0 -52px no-repeat;
}

#clothes .themes .fore4 .icon {
    background: url(../images/clothesicon.png) 0 -78px no-repeat;
}

#clothes .themes .fore5 .icon {
    background: url(../images/clothesicon.png) 0 -104px no-repeat;
}

#clothes .themes .fore6 .icon {
    background: url(../images/clothesicon.png) 0 -130px no-repeat;
}

#clothes .words {
    height: 128px;
    border-bottom: 1px solid #ededed;
}
.floor .words {
    position: relative;
    height: 76px;
    background: rgba(255,255,255,.7);
    font-family: \5b8b\4f53;
}

#clothes .words li {
    height: 96px;
    padding-top: 16px;
}

.floor .words li {
    float: left;
    width: 135px;
    height: 48px;
    padding: 7px 0 0 25px;
    overflow: hidden;
}

.floor .words a:link, .floor .words a:visited {
    color: #999;
}

.floor .words a {
    float: left;
    margin-right: 10px;
    line-height: 24px;
    white-space: nowrap;
}

#clothes .side-extra {
    width: 328px;
    height: 158px;
    border: 1px solid #ededed;
    border-left: 1px solid #f7f5ee;
    border-top: 0;
    overflow: hidden;
}

.floor .main {
    position: relative;
    float: left;
    width: 660px;
    height: 474px;
    display: none;
}

.floor .main-selected {
    display: block;
}

.floor .main-body {
    float: left;
    width: 660px;
}

#clothes .main-body li.fore1 {
    width: 440px;
}
#clothes .main-body li {
    float: left;
    height: 158px;
}

.floor .main-inner li {
    overflow: hidden;
    font-size: 0;
}

.floor .main-inner a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

.floor .main-extra {
    background-color: red;
    display: block;
    float: left;
    width: 220px;
}

#clothes .main-extra li {
    height: 158px;
}
.floor .main-inner li {
    width: 220px;
    overflow: hidden;
    font-size: 0;
}

.floor .main-inner a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

#clothes .slider {
    top: 158px;
    height: 315px;
}
.floor .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 439px;
    height: 236px;
    overflow: hidden;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.floor .slider .slider-nav {
    width: 100%;
    height: 0;
    line-height: 0;
    text-align: center;
    bottom: 19px;
    cursor: default;
}
.slider-nav {
    position: absolute;
    height: 9px;
    bottom: 10px;
}

.floor .slider .slider-nav ul {
    height: 0;
    line-height: 0;
}

.floor .slider .slider-nav li {
    display: inline-block;
}
.floor .slider .slider-item {
    border: none;
}
.slider-nav .slider-selected {
    background: #b61b1f;
    color: #fff;
}
.slider-nav li {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 2px;
    background: #3e3e3e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
/*楼层内的轮播图的左右箭头*/
.floor .slider .slider-page a {
    border: none;
    display: none;
}
.slider-page a {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 1;
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: gray;
    background: rgba(0,0,0,.2);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}
.focus .slider-prev {
    left: 220px;
    position: absolute;
    z-index: 4;
}

.focus .slider-next {
    right: 260px;
    position: absolute;
    z-index: 4;
}

.slider-next {
    right: 0;
}

.root61 .brands {
    padding-left: 0;
}
.brands {
    background: #f7f7f7;
    padding: 13px 0 13px 0;
    margin-top: 10px;
    display: block;
    float: left;
}

.brands ul {
    height: 40px;
    overflow: hidden;
}

.brands li.fore1 {
    border-left: none;
}
.brands li {
    float: left;
    width: 120px;
    height: 40px;
    border-left: 1px dotted #ccc;
    text-align: center;
}

#clothes .main-body li.fore1 {
    width: 440px;
}
#clothes .main-body li.fore2 {
    width: 440px;
    height: 159px;
    padding-top: 316px;
}
#clothes .main-body li.fore3 {
    margin-top: -158px;
}
#clothes .main-body li.fore3, #clothes .main-body li.fore4, #clothes .main-body li.fore5, #clothes .main-body li.fore6 {
    float: right;
}
#clothes .main-body li.fore6 {
    height: 150px;
}



#clothes .main-body li.fore6 a {
    height: 150px;
}


#clothes .main {
    height: 633px;
    width: 880px;
    position: relative;
    float: left;
}

.floor .main-inner a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    /*overflow: hidden;*/
}

.floor .main-body {
    float: left;
    width: 660px;
}

#clothes .main-body li.fore6 {
    border-bottom: none;
    height: 159px;
}

.floor .main-inner li {
    width: 220px;
    overflow: hidden;
    font-size: 0;
}

#clothes .main-body li.fore6 a {
    height: 158px;
}

.floor .main-inner a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

#clothes .main-extra li.fore3 {
    height: 317px;
}

#clothes .main-body li.fore2 {
    width: 440px;
    height: 159px;
    padding-top: 316px;
}

.mc-inner .close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.mc-inner .close:hover {
    background: #ccc;
    color: #fff;
    text-decoration: none;
}

#lazy-footer {
    height: 457px;
}

#service-2014 {
    margin-bottom: 20px;
}

#service-2014 .slogen {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
    height: 54px;
    padding: 20px 0;
    background: #F5F5F5;
    text-align: center;
}

#service-2014 .slogen .fore1 {
    margin-left: -604px;
}
#service-2014 .slogen .item {
    width: 302px;
}

#service-2014 .slogen .item {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20px;
    width: 245px;
    height: 54px;
    text-align: left;
    vertical-align: middle;
    font: 400 18px/50px "microsoft yahei";
}

#service-2014 .slogen .fore2 {
    margin-left: -304px;
}

#service-2014 .slogen .item {
    width: 302px;
}

#service-2014 .slogen .fore3 {
    margin-left: 0;
}

#service-2014 .slogen .item {
    width: 302px;
}

#service-2014 .slogen .fore4 {
    margin-left: 304px;
}

#service-2014 .slogen .item {
    width: 302px;
}

#service-2014 .slogen .item b {
    padding: 0 10px;
    font-size: 24px;
    color: #C81623;
}

#service-2014 .slogen .item i {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#service-2014 .slogen .fore1 i {
    background-image: url(../images/service_items_1.png);
}

#service-2014 .slogen .fore2 i {
    background-image: url(../images/service_items_2.png);
}

#service-2014 .slogen .fore3 i {
    background-image: url(../images/service_items_3.png);
}

#service-2014 .slogen .fore4 i {
    background-image: url(../images/service_items_4.png);
}

.elevator {
    width: 30px;
    overflow: hidden;
}

.elevator ul {
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
    display: none;
}

.elevator li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    margin-top: -1px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}

.elevator li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #625351;
    font-size: 14px;
    font-family: Arial;
}

.elevator li.current .etitle {
    display: block;
    color: #c81623;
}

.elevator li .etitle {
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.elevator li .etitle {
    display: none;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 12px;
}
.elevator li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: #625351;
    font-size: 14px;
    font-family: Arial;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAGXRFW…AAAB5JREFUeNpiYIIABhTIyAQXxgtGpUelR6VpKw0QYACUOgb65Nz92gAAAABJRU5ErkJggg==) 0 0 no-repeat;
}

.elevator li.current .etitle {
    display: block;
    color: #c81623;
}

.elevator li.current a {
    display: none;
}

.home-special-buy-v4 .hs-content .has-col1 .has-item img, .home-special-buy-v4 .hs-content .has-col3 .has-item img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.home-special-buy .has-col1 .has-item img{
    margin-left: 0;
}

.home-special-buy .has-col1 .has-item img:hover{
    margin-left: -3px;
}

.home-special-buy .has-col3 .has-item img{
    margin-left: 0;
}

.home-special-buy .has-col3 .has-item img:hover{
    margin-left: -3px;
}


#slider-cur {
    position: absolute;
    top: 420px;
    left: 520px;
    padding: 0 5px;
    width: 185px;
    height: 30px;
    z-index: 2;
}

#slider-cur span {
    position: relative;
    display: block;
    float: left;
    margin: 0 6px;
    top: 8px;
    width: 18px;
    height: 18px;
    background: #3e3e3e;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

#slider-cur span.cur {
    background: #b61b1f;
    color: #fff;
}
