.top-container .top ul li.hover {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px;
}

.nav-container .nav .sub .inner .item.hover {
    background-color: #f7f7f7;
}

.nav-container .nav .sub .inner .item.hover a {
    color: #b61d1d;
}

.nav-container .nav .sub .inner .item.hover h3 {
    color: #b61d1d;
}

.dorpdown:hover .dorpdown-layer {
    display: block;
}

.bottom .cart:hover {
    -webkit-box-shadow: 2px 2px 2px #bababa;
    -moz-box-shadow: 2px 2px 2px #bababa;
    box-shadow: 2px 2px 2px #bababa;
}

.bottom .cart:hover div.cart-icon {
    background-color: #ffffff;
}

.toolbar-tab:hover {
    background-color: #c81623;
    color: #f7f7f7;
    line-height: 35px;
    right: 60px;
}

.toolbar-tab:hover .tab-ico {
    background-color: #c81623;
}

.service ul li a:hover {
    color: #c81623;
}

#area li:hover{
    background-color: #f7f7f7;
    color: #c81623;
}

#area li.area-sel:hover{
    background-color: #c81623;
    color: #ffffff;
}

.slider:hover .slider-page a {
    display: block;
}

.elevator li:hover .etitle {
    display: block;
    color: #fff;
}

.elevator li.hover a, .elevator li:hover a {
    display: none;
}

.elevator li.current .etitle:hover {
    color: #fff;
}

.elevator li a:hover {
    color: #fff;
    text-decoration: none;
    background: #c81623;
}

.floor-current h2 i {
    background: url(../images/product_home_1.0.0.png) no-repeat 0 0;
    background-position: 0 0;
}